rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function myEmail() {
      return request.auth.token.email.lower();
    }

    function isAdmin() {
      return isSignedIn() &&
        exists(/databases/$(database)/documents/users/$(myEmail())) &&
        get(/databases/$(database)/documents/users/$(myEmail())).data.role == 'admin';
    }

    match /users/{email} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    match /tasks/{taskId} {
      allow read: if isSignedIn();
      allow create, delete: if isAdmin();
      allow update: if isAdmin() || (
        isSignedIn() &&
        resource.data.assigneeEmail == myEmail() &&
        request.resource.data.assigneeEmail == resource.data.assigneeEmail &&
        request.resource.data.title == resource.data.title &&
        request.resource.data.dept == resource.data.dept &&
        request.resource.data.deadline == resource.data.deadline &&
        request.resource.data.status == 'completed'
      );
    }
  }
}
